/* Importaciones para el index */

@import url(/assets/css/header.css); /* Header del index */
@import url(/assets/css/content.css);
@import url(/assets/css/footer.css); /* Footer del index*/


/* Primary color: 1A5B9E*/